<nav class="navbar navbar-expand-sm navbar-dark " style="background-color:#101b39;" *ngIf="!isLoggedIn()">

    <ul class="navbar-nav">

        <li class="nav-item">
            <a class="nav-link" href="" [routerLink]="['/register']" routerLinkActive="active" *ngIf="!isLoggedIn()">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link " href="" [routerLink]="['/login']" routerLinkActive="active" *ngIf="!isLoggedIn()">Login</a>
        </li>
        <!--
        <li class="nav-item">
            <a class="nav-link" href="" [routerLink]="['/home']" routerLinkActive="active" *ngIf="isLoggedIn()">Home</a>

        </li>

        <li class="nav-item">
            <a class="nav-link" href="" [routerLink]="['/logout']" routerLinkActive="active" (click)="logout()" *ngIf="isLoggedIn()">Logout</a>

        </li>
              -->
    </ul>



</nav>
<ngx-spinner *ngIf="showSpinner()"></ngx-spinner>


<router-outlet>

</router-outlet>