<div class="outer">
    <div class="first container-fluid">
        <div class="left">
            <h2>Explore Your Products With Us.</h2>
            <p class="playfair">Get a best deal and beautiful results for ever. you have to launch it once and see your products on all devices.Free selling and buying platform.</p>
        </div>

        <div class="right">

            <img src="/assets/images/buy_vector_explore1.png" alt="" *ngIf="deviceInfo()">
            <h6 *ngIf="!deviceInfo()">.</h6>

        </div>
    </div>

    <div class="center box-shadow">
        <h4>We are providing free service of selling your valuable products under a catagories with free of cost.</h4>
        <h4> Expand your work with us by launching your products and get free online advertisement services of your products.</h4>
        <h4>We make your work easily.</h4>

    </div>

    <div class="carosel">
        <div class="carder box-shadow">
            <h2 class="">Free Advertising</h2>
            <img src="/assets/images/free_ad_explore.jpg" alt="" class="box-shadow">
        </div>
        <div class="carder box-shadow">
            <h2 class="">Easy Uploading</h2>
            <img src="/assets/images/upload_explore.jpg" alt="" class="box-shadow">
        </div>

        <div class="carder box-shadow">
            <h2 class="">Quick Tracking</h2>
            <img src="/assets/images/track_explore.jpg" alt="" class="box-shadow">
        </div>
    </div>
    <div class="copyright">
        <h4>copyright @ {{date}}</h4>
    </div>
</div>
