.outer{
    width:100%; 
    height:auto; 
    box-sizing: border-box;
  
    background-color: #fafbff;  
   
}

.dashboard{ 
   
   width:95%;
    height:70px; 
    background-color: white; 
    background-color: #05083f;
    border-radius: 1em; 
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    position: relative;  
    cursor :pointer; 
     display: flex;
     flex-direction: row;
     justify-content: space-between;
    padding:1.5em; 
    border: 1px solid white;  
    position: relative; 
    top:30px; 
    left:10px;
    margin-bottom: 3%;
}

.dashboard:hover{
    /* background-color: #ff5e62;  */
    /* background-color: blue; */ 
    background-color: #05083f;
    color:white; 
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}


.card-btn{
    width: 170px;
    height: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-transform: capitalize;
    /* background-color:#05083f; 
    color: white; */ 

    background-color: white;
    color: #05083f;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 60px 40px -7px;
    border: none;
    border-radius: 20px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    top: -15px;
}

.card-btn:hover{
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.card-img{
    width:100px; 
    height:70px; 
   border-radius:3%;

}
.profile{
    display:flex; 
    justify-content: space-between; 
    flex-direction: column; 

}
.intro{ 
    width:95%;
    display:flex; 
    flex-direction: row;
    justify-content: space-around;
    padding:2%; 
    margin:2%;
    /* border:1px solid #2EE59D;  */
    font-family: 'Times New Roman', Times, serif; 
    font-weight: bold;  
    color:white; 
    /* background-color: #05083f; */

  

}

.tab{
    padding-bottom: 2%; 
    margin:2%; 
      
}